body {
	background: #445;
	color: white;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  margin:0;
}

.nav ul {
    margin: 0px;
    padding: 0px;
    list-style:none;
}

.nav a {
    padding: 1em;
    display: block;
    text-align:center;
    text-decoration: none;
    color: white;
}
.nav .menu {
    display: flex; /*1*/
    flex-direction : row; /*2*/
    justify-content: center; /*3*/
}
li {
 color:black;
}
ul {
  padding: 0;
  list-style: none;

}
.menu {
   display: flex;
   padding: 0 10px;
}
#main {
	background: linear-gradient(to bottom, rgba(0,0,0,0.66) 100%, transparent), url(burger-100.jpg);
	background-size: cover, cover;
	background-position: center, center;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  flex-direction: column;
}
.container {
  border: 2px solid white;
  padding : 20px;
  margin: 45px;
  width: 490px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.search-container{
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease;
  	 opacity: 0;
     }
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}
